NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZGVlcC1vc3RyaWNoLTYzMDkuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_MgisqXN89OKOQe02pASPkCl4LS5ewkiuvsaArdOM3h
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/redirect
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/redirect
